:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.primary-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-left: 50px;
}
.description,
.project {
  text-align: left;
  margin: 50px;
}

.project-weather {
  text-align: left;
  margin: 0;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-me {
  margin-top: 100px;
}

.about-paragraphs {
  display: flex;
  margin-top: 20px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.content {
  padding: 80px 20px;
}
.content h1 {
  font-size: 65px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
  .hero {
    padding: 80px 20px 50px 20px;
  }
  .navigation-links a,
  .primary-link {
    margin: 10px;
    padding: 10px 7px;
  }
  .navigation-links {
    margin-top: 20px;
  }

  .description,
  .project {
    text-align: center;
  }

  .description {
    font-size: 18px;
  }

  .primary-link {
    margin-left: none;
    display: block;
    text-align: center;
  }
  .about {
    font-size: 15px;
  }
  .about-content {
    text-align: center;
  }
  .projects-link {
    margin-bottom: 20px;
  }
}
